body {
	background-color: #333333;
	overflow-x: hidden;
}

a:link {
    color: #428BCA;
}

/* visited link */
a:visited {
    color: #428BCA;
}

/* mouse over link */
a:hover {
    color: #428BCA;
}

/* selected link */
a:active {
    color: #428BCA;
}

.page-header h1 {
	color: #FFFFFF;
}

.text {
	color: #FFFFFF;
}

.rounded-rect {
	background-color: #428BCA;
	border-radius: 10px;
	border: solid 5px;
	color: #FFFFFF;
	text-align: center;
	height: 60px;
	width: 300px;
    margin: 0 auto;
}

.navbar-nav li div {
    line-height: 37px;
}

.page-header {
	margin-bottom: 0px;
	margin-left: 20px;
}
button#interval {
	background-color: #DBA540;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;
   background:#666666;
}

#nav-container {
	z-index: 30;
}
.performance-graph-container {
	padding: 0px 0px 0px 0px;
}

.performance-graph-container .graph {
	width:100%;
	height:300px;
}
.performance-graph-container .text {
	text-align: center;
}

.performance-item {
	display: inline;
	padding: 0px 10px 0px 10px;
}